.new{
    display: flex;
justify-content: center;
}
.body{
    height: 700px;
    width: 1400px;
    box-shadow:0px 0px 30px rgb(209, 208, 208);
    padding: 2px;
}
.bodyHead{
    height: 40px;
    width: 1450px;
    /* background-color: aqua; */
    margin-left: 30px;
    margin-top: 10px;
}

.bot{
    margin-left: 5PX;
    width: 30px;
    margin-top: 5px;
    height: 25px;
    box-shadow:0px 0px 7px rgb(6, 236, 10);
    border-radius: 15px ;
    background-color: white;
}
.textArea{
    height: 500px;
    width: 800px;
margin-left: 200px;
box-shadow:0px 0px 20px rgb(167, 166, 166);
padding: 40px;
font-size: xx-large;
/* text-align: ; */
}

/* text-decoration:underline; */
